[main]
ksc		ansible_ssh_host=	ansible_password=	ansible_sudo_pass=	ansible_user=
# mdb	ansible_ssh_host=	ansible_password=	ansible_sudo_pass=	ansible_user=
psql	ansible_ssh_host=	ansible_password=	ansible_sudo_pass=	ansible_user=
web		ansible_ssh_host=	ansible_password=	ansible_sudo_pass=	ansible_user=
